<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
        <header class="w-full">
            <%- include('./partials/header.ejs'); %> 
        </header>
        <section class=" grid mx-auto h-96 w-3/12  min-h-0 shadow-lg border-2 my-4">
            <div class=" self-center justify-self-center text-center ">
                <img class="m-auto w-32" src="assets/img/confirm.svg" />
            </div>
        </section>
        <footer class="bg-gray-800 h-24 text-center text-white">
            <%- include('./partials/footer'); %>
        </footer>
</body>
</html>